/* 
  CSS for the main body element
  - Reset margin and padding
  - Hide overflow
*/

body {
  margin: 0; /* Remove default margin */
  padding: 0; /* Remove default padding */
  overflow: hidden; /* Prevent scrolling */
}